.about-hero {
  height: 80vh !important;
}

section.about .history {
  align-items: flex-end;
  @include phones-small {
    gap: 7rem;
  }
  &__info {
    width: 400px;
    @include phones-small {
      width: 100%;
    }

    &--text {
      margin-bottom: .8rem;
    }
  }

  &__image {
    width: 400px;
    @include phones-small {
      width: 90%;
    }
    border: 1px solid $secondary-color;

    &--img {
      max-width: 400px;
      transform: translate(-16px, -27px);
      @include phones-small {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}


section.about .vision-mission-wrapper {
  background: url("../img/icons/vector-10.svg");
  background-size: cover;
  
  .vision-mission {
    padding-top: 4.48rem;
    padding-bottom: 4.48rem;
    @include phones-small {
      gap: 4rem;
    }
    & > * {
      display: flex;
      flex-direction: column;
      width: 36.8rem;
      @include phones-small {
        width: 100%;
      }
      align-items: flex-start;
    }
  }
}

section.about .story {
  padding-top: 3.84rem;
  padding-bottom: 3.84rem;
  @include flex(column);
  
  &__text {
    width: 600px;
    @include phones-small {
      width: 100%;
    }
    text-align: center;
  }

  &__numbers {
    margin-top: 6rem;
    @include flex;
    justify-content: space-between;
    width: 100%;
    max-width: 650px;
    @include phones-small {
      flex-direction: column;
      justify-content: flex-start;
      gap: 4rem;
    }

    & > * {
      @include flex(column);
      gap: 1.12rem;

      p {
        color: $secondary-color;
        @include bold-font-two;
        font-size: 4.32rem;
      }

      h3 {
        font-size: 1.44rem;
        @include normal-font;
        text-transform: uppercase;
        color: $text-color;
      }
    }
  }
}