.about-hero {
  height: 80vh !important;
}

section.about .history {
  align-items: flex-end;
  &__info {
    width: 400px;

    &--text {
      margin-bottom: .8rem;
    }
  }

  &__image {
    width: 400px;
    height: 420px;
    border: 1px solid $secondary-color;

    &--img {
      max-width: 400px;
      transform: translate(-16px, -27px);
    }
  }
}


section.about .vision-mission-wrapper {
  background: url("../img/icons/vector-10.svg");
  background-size: cover;
  
  .vision-mission {
    padding: 4.48rem 0;
    & > * {
      display: flex;
      flex-direction: column;
      width: 36.8rem;
    }
  }
}

section.about .story {
  padding: 3.84rem 0;
  @include flex(column);
  
  &__text {
    width: 600px;
    text-align: center;
  }

  &__numbers {
    margin-top: 6rem;
    @include flex;
    justify-content: space-between;
    width: 100%;
    max-width: 650px;

    & > * {
      @include flex(column);
      gap: 1.12rem;

      p {
        color: $secondary-color;
        @include bold-font-two;
        font-size: 4.32rem;
      }

      h3 {
        font-size: 1.44rem;
        @include normal-font;
        text-transform: uppercase;
        color: $text-color;
      }
    }
  }
}