section.courses .social-note {
  @include phones-small {
    gap: 5rem;
  }
  &__info {
    width: 55rem;

    @include phones-small {
      width: 100%;
    }

    p {
      margin-bottom: 2rem;
    }
  }

  &__image {
    &--photo {
      width: 100%;
      max-width: 35rem;
      @include phones-small {
        max-width: 100%;
      }
      border-top-left-radius: 90px;
      border-top-right-radius: 90px;
    }

    &--name {
      border: 1px solid $secondary-color;
      height: 14rem;
      @include flex(column);
      gap: .7rem;
      border-radius: 30px 0;
      margin-top: .6rem;
      
      h3 {
        @include bold-font-mini;
      }

      p {
        @include normal-big-font;
        text-align: center;
      }
    }
  }
}


.course-modules {
  margin-top: 9rem;
  &__menu {
    .module-menu {
      @include normal-font;
      font-size: 2.3rem;
      cursor: pointer;
      padding: 1.3rem;
      background: #ffffff;
      border: 1px solid $secondary-color-50;
      margin-bottom: 1rem;
      text-rendering: optimizeLegibility;
      letter-spacing: .5px;
      transition: all 0.4s ease;
      display: flex;

      &:hover {
        background: $secondary-color-50;
        color: #fff;
      }

      .expand {
        transition: all .2s ease;
        margin: 0 10px;
        margin-left: auto;
        font-size: 3rem;
        font-weight: 200;
      }

      .turn {
        transform: rotate(90deg);
      }

      span {
        @include phones-small {
          display: none;
        }
      }
    }
    .sub-menu {
      @include normal-font;
      font-size: 2rem;
      border: 1px solid $secondary-color-50;
      border-top: none;
      display: none;
      margin-top: -1rem;
      margin-bottom: 1rem;

      li {
        list-style-type: circle;
        list-style-position: inside;
        @include phones-small {
          // list-style-position:initial;
        }
        cursor: pointer;
        padding: 1rem 2rem;
        transition: all .2s ease;

        &:hover {
          margin-left: .5rem;
        }
      }
    }
  }

  a {
    @include normal-font-bold;
    display: block;
    color: $secondary-color;
    font-size: 1.76rem;
    margin-top: 5rem;
  }
}


section.courses .instructors-card {
  margin-top: 9rem;
}

section.courses .news-events {
  margin-bottom: 9rem;
}

section.courses .attention {
  button {
    span {
      @include phones-small {
        display: none;
      }
    }
  }
}