section.documents .course-modules {
  &__menu {
    .module-menu {
      margin: 0;
      border: 1px solid #DBDBDB;
      background: #F7F7F7;

      &:hover {
        color: $primary-dark;
        background: #F7F7F7;
      }
    }
    .sub-menu {
      border: 1px solid #DBDBDB;
      margin: 0;
      padding: 2rem;

      img {
        display: block;
      }

      &__pdf-art {
        width: 6rem;
        margin: 2rem 0;
      }

      a {
        @include normal-font;
        color: $secondary-color;
        text-decoration: none;
        @include transition-ease;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}