.home-hero {
  height: 100vh !important;
  color: $primary-color;
  p {
    color: $primary-color;
  }
}



section.home .why-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__card-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include phones-small {
      flex-direction: column;
    }

    & > * {
      @include three-card-system;
      border: 1px solid $secondary-color;
      background: #FBFBFB;
      height: 430px;
      text-align: center;
      @include flex(column);
      justify-content: space-between;
      padding: 4.0rem;
      @include round-icons;

      @include phones-small {
        margin-bottom: 3rem;
      }
    }
  }
}

section.home .director {
  
}

section.home .popular-courses {
  &__card-container {
    @include flex;
    justify-content: space-between;
    width: 100%;

    @include phones-small {
      flex-direction: column;
      justify-content: flex-start;
    }

    & > * {
      @include three-card-system;
      padding: 1.6rem;
      box-shadow: 5px 15px 20px rgba(169, 169, 169, 0.45);

      @include phones-small {
        // padding: 1.6rem 0;
      }

      & > img {
        width: 100%;
        max-width: 300px;
        border-radius: 5px;

        @include phones-small {
          width: 100%;
          max-width: 100%;
          margin: 0 auto;
        }
      }

      .content {
        padding: .8rem .8rem 0 .8rem;

        @include small-pc {
          h4 {
            font-size: 2rem;
          }
        }

        .course-reviews {
          @include flex;
          justify-content: space-between;
          margin-top: .48rem;
          padding-bottom: 1.6rem;
          border-bottom: 1px solid #D8D6D5;

          &__rating {
            unicode-bidi: bidi-override;
            direction: rtl;

            & > span > span {
              display: inline-block;
              position: relative;
              width: auto;
              margin-right: 2px;
              font-size: 2.24rem;
              color: $secondary-color-rating;

              &.active::before, &.active ~ span::before {
                  content: "\2605";
                  position: absolute;
              }
            }
          }
        }
      }

      .time {
        @include flex;
        height: 9.6rem;
        justify-content: space-between;

        &__left {
          display: flex;
          flex-direction: column;
          gap: .8rem;

          h6 {
            font-size: 1.76rem;
            @include normal-font;
          }
        }

        &__right {
          @include circle(40px);
          @include flex;
          background: $secondary-color-blur;

          img {
            display: block;
            width: 14px;
          }
        }
      }
    }
  }

  &--button {
    position: absolute;
  }
}


section.home .attention-wrapper {
  background: linear-gradient(
        to right,
        #12A454,
        #B1D043
      );
  background-repeat: no-repeat;
  position: relative;

  .attention {
    height: 480px;
  }

  .artboard-icon {
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    max-width: 300px;
    @include phones-small {
      max-width: 100%;
    }
    padding: 0;
  }
}

section.home .reviews {
  margin-top: 8rem;
  .slider {
    max-width: 160rem;
    @include phones-small {
      max-width: 100%;
    }
    height: 32rem;
    margin: 0 auto;
    position: relative;

    /* IN THE END */
    overflow: hidden;

    .slide {
      position: absolute;
      top: 0;
      width: 100%;
      height: 80rem;
      /* THIS creates the animation! */
      transition: transform 1s;

      img {
        // width: 100%;
        // height: 100%;
        object-fit: cover;
      }
    }

    &__btn {
      position: absolute;
      top: 50%;
      z-index: 1;

      border: none;
      background: $secondary-color-blur;
      font-family: inherit;
      color: #333;
      @include circle(3rem);
      @include flex;
      font-size: 5.2rem;
      cursor: pointer;

      &--left {
        left: 6%;
        transform: translate(-50%, -50%);
      }

      &--right {
        right: 6%;
        transform: translate(50%, -50%);
      }
    }

    .dots {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;

      &__dot {
        border: none;
        background-color: #D9D9D9;
        opacity: 0.7;
        @include circle(.9rem);
        margin-right: 2.8rem;
        cursor: pointer;
        transition: all 0.5s;

        /* Only necessary when overlying images */
        /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */

        &:last-child {
          margin: 0;
        }

        &--active {
          /* background-color: #fff; */
          background-color: $secondary-color;
          opacity: 1;
        }
      }
    }

    .testimonial {
      width: 65%;
      margin: 0 auto;
      position: relative;

      &__text {
        font-size: 2.72rem;
        @include normal-font;
        font-size: 1.92rem;
        line-height: 2.72rem;
        color: #666;
        text-align: center;
      }

      &__author {
        width: 100%;
        margin: 0 auto;
        @include flex(column);
      }

      &__name {
        @include bold-font-four;
        font-size: 2.08rem;
        margin: 1.6rem 0;
      }

      &__photo {
        @include circle(90px);
      }
    }
  }
}

section.home .courtesy {
  // padding-bottom: 6rem;
}

footer {
  display: none;
}