// header {
//   position: relative;
// }

@include media-md {
  .header {
      background: $header-bg;
      box-shadow: 5px 5px 7px rgba(169, 169, 169, 0.05);
      height: 8rem;
      margin-top: 0 !important;
      overflow: visible;
      // position: fixed;
      // z-index: 20;

    &__container {
      @include flex;
      justify-content: space-between;
      height: 100%;
      margin-top: 0 !important;

      .nav-brand {
        &__logo {
          width: 100px;
        }
      }

      .menu-btn {
      visibility: hidden;
  }

  .nav {
    visibility: visible;
    position: static;
    display: flex;
    align-items: center;
    width: auto;

    .menu-nav {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap:  2.5rem;
      transform: translateY(0);
      margin: auto 1.6rem;
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0;
      background: transparent;

      &__item {
        display: block;
        transform: translateX(0);


        &.navbar-dropdown {
          position: relative;

          & .dropdown {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            @include flex(column);
            align-items: flex-start;
            gap: 1.5rem;
            padding: 2rem 1.3rem;
            top: 100%;
            transform: translateY(50px);
            left: 0;
            width: 25rem;
            background-color: #fff;
            box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            border-bottom: 5px solid $secondary-color;
            z-index: 111;
            transition: 0.4s all;

            a {
              @include normal-font;
              transition: 0.4s all;
              
              &:hover {
                padding-left: 1rem;
                color: $secondary-color;
              }
            }
          }

          &:hover .dropdown {
            visibility: visible;
            opacity: 1;
            transform: translateY(0px);
          }
        }
        
      }

      &__list {
        display: block;
        @include normal-font;
        padding: .8rem 1.1rem;
        transition: 0.5s color ease;

        &.bar::before {
          content: "";
          width: 100%;
          height: 4px;
          position: absolute;
          left: 0;
          bottom: -4px;
          background: $secondary-color;
          transition: 0.5s transform ease;
          transform: scale3d(0,1,1);
          transform-origin: 100% 50%;
        }

        &:hover {
          color: $secondary-color;
        }

        &.bar:hover::before {
          transform: scale3d(1,1,1);
          transform-origin: 0 50%;
        }
      }

      &__list.secondary-btn {
        @include secondary-btn;
      }
    }
  }
    }
  }
}


