@import 'breakpoints';
@import 'config';
@import 'account';
@import 'menu';
@import 'home';
@import 'about';
@import 'instructors';
@import 'instructors-profile';
@import 'director';
@import 'why-study';
@import 'courses';
@import 'news-and-events';
@import 'documents';
@import 'gallery';
@import 'application';
@import 'footer';
@import 'responsive';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,400&family=Nunito+Sans:wght@400;600&family=Satisfy&family=Urbanist:wght@200;300;400;500;600;700;800;900&display=swap');

html {
  // font-size: 62.5%;
  font-size: calc(4.9px + 0.390625vw);

  @include phones-small {
    font-size: calc(10px + 0.390625vw);
  }
}

.hide {
  display: none;
}

body {
  font-family: 'Lato', sans-serif;
  background: $primary-color;
  color: set-text-color($primary-color);
}

p {
  @include normal-font;
  font-size: 1.6rem;
  line-height: 2.08rem;
  color: $text-color;
}

h1 {
  @include bold-font-one;
  @include phones-small {
    font-size: 6rem;
  }
}

h2 {
  @include bold-font-two;
  text-transform: capitalize;
}

h3 {
  @include bold-font-three;
}

h4 {
  @include bold-font-four;
}

a {
  color: set-text-color($primary-color);
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  overflow: visible;
}

section > * {
  margin-top: 4.48rem;
}

.secondary-btn {
  @include secondary-btn;
}

.line-btn {
  @include line-btn;
}

section, header {
  & > * {
    width: 100%;

    & > * {
      width: 1055px;
      padding: 0 1rem;
      @include small-pc {
        width: 95%;
      }
      @include phones-big {
        width: 95%;
      }
      margin: 0 auto;
    }
    h2 {
      margin-bottom: 2.88rem;
    }
  }
}



// GENERAL PAGE SECTIONS
.two-section {
  @include flex;
  justify-content: space-between;
  align-items: flex-start;

  @include phones-small {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


.hero {
  width: 100%;
  height: 70vh;
  color: $primary-color;
  background: linear-gradient(
      to right,
      rgba(0,0,0,0.9),
      rgba(0,0,0,0.9)
    ),
     url('../img/hero.jpg');
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: relative;

     h1 {
       margin-bottom: 2.4rem;
       width: 100%;
       text-align: center;
     }

     p {
       font-size: 2.08rem;
       font-weight: 400;
       line-height: 2.4rem;
       text-align: center;
     }

     &-btn {
       margin-top: 3.2rem;
     }

     &__call {
       position: absolute;
       bottom: 0;
       background: #0D0D0D;
       width: 100%;
       height: 4rem;
       display: flex;
       justify-content: center;
       align-items: center;
       gap: .5rem;

       & > * {
        font-size: 1.6rem;
        letter-spacing: .04rem;
        font-weight: 400;
       }

       &--white {
        color: $primary-color;
        @include phones-small {
          display: none;
        }
       }

       &--green {
         color: $secondary-color;
       }
     }
}


.attention-wrapper {
  background: 
    linear-gradient(
      to right,
      rgba(#12A454, 0.9),
      rgba(#B1D043, 0.9)
    ),
    url('../img/IMG_00271.jpg') center top;
  background-size: cover;
    color: $primary-color;

  .attention {
    margin-top: 6.4rem;
    height: 390px;
    padding-top: 7rem;
    padding-bottom: 5rem;
    @include flex(column);
    gap: 2rem;
    @include phones-small {
      align-items: flex-start;
      height: 760px;
    }

    h2, h4, ul {
      width: 700px;
      margin: 0 auto;
      text-align: center;
      @include phones-small {
        width: 100%;
        text-align: left;
        margin: 0;
      }
    }

    h2 {
      font-size: 3.2rem;
    }

    li {
      list-style-type: disc;
      list-style-position: inside;
      @include phones-small {
        margin-top: .4rem;
      }
    }

    h4, li {
      @extend p;
      color: $primary-color;
    }

    button {
      display: block;
      margin: 2.4rem auto 0 auto;

      @include phones-small {
        margin: 0;
        margin-top: 2.4rem;
      }
    }
  }
}

.courtesy {
  margin-top: 8rem;
  padding: 3rem 0 7rem 0;
  width: 100%;

  h2 {
    text-align: center;
  }

  &__img-container {
    @include flex;
    justify-content: space-between;
    max-width: 600px;
    @include phones-small {
      flex-direction: column;
      gap: 3rem;
      max-width: 100%;
    }
    margin: 0 auto;
  }
}


// Instructor cards
.standards {
    h2 {
      margin-bottom: 4.8rem;
    }
    .people {
      @include flex;
      justify-content: space-between;
      @include phones-small {
        flex-direction: column;
        gap: 6rem;
      }
      width: 100%;

      &__card {
        @include three-card-system;
        box-shadow: 5px 15px 20px rgba(169, 169, 169, 0.45);
        padding: 0 2.08rem;

        @include phones-small {
          padding: 0;
        }

        &--avatar {
          width: 100%;
          margin: 0 auto;
        }

        &--details {
          padding: 4rem 2rem;
          @include flex(column);
          gap: 1.6rem;
          width: 100%;

          p {
            text-align: center;
            @include normal-big-font;
          }

          button {
            // width: 15.2rem;
          }
        }
      }
    }
  }


// Meet Our Director
.director {
  align-items: center;
  padding-top: 3.68rem;
  padding-bottom: 3.68rem;
  @include phones-small {
    gap: 9rem;
  }

  &__info {
    @include flex(column);
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 3.2rem;
    @include info-width;
    min-width: 40rem;
    height: 350px;
    @include phones-small {
      min-width: 100%;
      max-width: 100%;
      width: 100%;
      height: 100%;

      button {
        margin-top: 4rem;
      }
    }
    

    h2 {
      margin-bottom: 0;
    }
  }

  &__image {
    width: 100%;
    max-width: 450px;
    @include phones-small {
      max-width: 100%;
    }
    height: 428px;
    position: relative;

    &--photo {
      display: block;
      margin-left: auto;
      width: 100%;
      max-width: 350px;
      @include phones-small {
        max-width: 350px;
        margin: 0 auto;
      }
      height: 420px;
      border-top-left-radius: 45.5%;
      border-top-right-radius: 45.5%;
    }

    &--name {
      @include flex;
      position: absolute;
      background: $primary-color;
      height: 5.12rem;
      width: 140px;
      font-size: 1.6rem;
      font-family: 'Satisfy', cursive;
      box-shadow: 0px 4px 20px rgba(169, 169, 169, 0.45);
      bottom: 0;
      // left: 37px;
      left: 7%;
    }

    &--star1 {
      @include star;
      top: 0;
      left: 127px;
    }

    &--star2 {
      @include star;
      bottom: -20px;
      right: 0;
    }
  }
}




// Profile Card
.profile {
  font-size: 1.6rem;

  &__table {
    box-shadow: 5px 15px 20px rgba(169, 169, 169, 0.45);
    padding: 2rem 8rem;
    position: relative;
    .top-table {
      display: grid;
      grid-template-columns: 1fr 1.2fr;

      &__col {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;

        &.table-head {
          @include normal-font-bold;
          border-right: 1px solid $text-color;
        }

        &.table-body {
          & > * {
            padding-left: 4rem;
          }
        }
      }
    }
    .down-table {
      display: grid;
      // 36.8rem 13.2rem 31.7rem
      grid-template-rows: 1fr 1fr 1fr 1fr; 

      &__col {
        display: grid;
        grid-template-columns: 1.335fr .6fr 1fr;

        .inst, .date {
          border-right: 1px solid $text-color;
        }

        &.table-head {
          @include normal-font-bold;
          text-transform: uppercase;

          & > * {
            @include flex;
          }
        }

        &.table-body {
          .date {
            @include flex;
          }
        }

        &:last-child > * {
          border-bottom: none;
        }
      }
    }

    .table > * {
      border-bottom: 1px solid $text-color;
      padding: 1.7rem 1rem;;
    }
  }
}


// News And Events

.news-events {
  margin-top: 6.4rem;
  &__card-container {
    @include flex;
    justify-content: space-between;

    @include phones-small {
      flex-direction: column;
      justify-content: flex-start;
      gap: 4rem;
    }

    & > * {
      @include three-card-system;
      box-shadow: 5px 15px 20px rgba(169, 169, 169, 0.45);

      img {
        width: 100%;
      }

      .content {
        padding: 2.08rem;
        padding-bottom: 3.52rem;
        height: 243px;
        @include flex(column);
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1.6rem;

        &__date {
          @include flex;
          justify-content: flex-start;
          gap: .4rem;

          p {
            @include small-font;
          }
        }

        &__text {
          width: 90%;
        }

        button {
            background: transparent;
            border: none;
            margin-top: auto;
            @include normal-font;
            color: $secondary-color;
            cursor: pointer;
          }
      }
    }
  }
}